<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
</head>
<body>
    <h1>Food Truck Fest Planner</h1>
    <nav>
        <ul>
<!--            <li><a href="/user_accounts">View User Accounts</a></li>-->
            <li><a href="/add_user">Add New User</a></li>
            <li><a href="/register_truck">Register a Truck</a></li>
            <li><a href="/register_attendee">Sign Up for an Event</a></li>
            <li><a href="/create_event">Create An Event</a></li>
            <li><a href="/submit_feedback">Submit Feedback</a></li>
            <li><a href="/add_menu">Add Menu</a></li>
            <li><a href="/edit_menu_item">Edit Menu</a></li>
            <li><a href="/food_truck_details">Food Truck Details</a></li>

            <!-- Add more navigation links as needed -->
        </ul>
    </nav>
</body>
</html>
